<div id="<%= dom_id ps3_project %>">
  <p>
    <strong>Name:</strong>
    <%= link_to ps3_project.name, ps3_project %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= ps3_project.url %>
  </p>

</div>
